
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    span{
      color: red;
      font-size: 36px;
    }
  </style>
</head>
<body>
  <h1>出错啦！</h1>
  <p>
    访问出错了，出错原因：<span><b><%= errMsg %></b></span>
  </p>
  <% if(status==0){ %>
    <h3>点击<a href="/">返回首页</a></h3>
  <% } %>
  <% if(status==1){ %>
    <h3>网络波动，稍后再试</h3>
  <% } %>
</body>
</html>