<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>****留言板****</title>
  <style>
    body{
      margin: 0;
      padding: 0;
      background-color: #fff;
    }
    form,h1{
      margin-left: 100px;
    }
    ul{
      list-style: none;
    }
    li{
      padding-right: 100px;
      padding-left: 50px;
    }
  </style>
</head>
<body>
  <h1>留言板</h1>
  <form action="/add">
    昵称： <input type="text" name="nickname"><br>
    留言： <textarea name="message"></textarea><br>
    <input type="submit" value="留言">
  </form>
  <hr>
  <ul>
    
  </ul>

  <script src="/js/jquery.min.js"></script>
</body>
<script>
  $(function(){
    $.ajax({
      url:'/show',
      data:{p:1,n:3},
      success:function(res){
        var docs = res.docs;
        var allPage = res.allPage;
        var p = res.p;
        for (var i=0;i<docs.length;i++) {
          var html = `<li>
              <div>${docs[i].nickname}</div>
      <div>${docs[i].message}</div>
      <div>${docs[i].time}</div>
      <div><a href="javascript:;" onclick="modify(this)">修改</a>
        <a href="/del?id=${docs[i]._id}">删除</a></div><hr></li>`;
          var $li = $(html);
          $('ul').append($li);
        }
        
        for(var i=0;i<allPage;i++){
          var html = `
          <a href='javascript:;' onclick="show(this)">${i+1}</a>
          `;
          $('body').append(html);
        }
        var html = `
          <span>当前<input type="text" value="${p}" id='p' size="1">页，共${allPage}页，点击跳转</span>
        `
        $('body').append(html);
      }
    })
  });
  function show(e){
    var p = parseInt($(e).html());
    $('ul').html('');
    $.ajax({
      url:'/show',
      data:{p:p},
      success:function(res){
        var docs = res.docs;
        var p = res.p;
        console.log(p);
        for (var i=0;i<docs.length;i++) {
          var html = `<li>
              <div>${docs[i].nickname}</div>
      <div>${docs[i].message}</div>
      <div>${docs[i].time}</div>
      <div><a href="javascript:;" onclick="modify(this)">修改</a>
        <a href="/del?id=${docs[i]._id}">删除</a></div><hr></li>`
          var $li = $(html);
          
          $('ul').append($li);
        }
        $(e).parent().children('span').children('input').val(p);
      }
    })
  }

  function modify(e){
    // console.log($(e).parent().prev().prev().html())
    var msgDiv = $(e).parent().prev().prev();
    var msg = msgDiv.html();
    if(msg.startsWith('<input')){
      msg = msgDiv.children('input').val();
      // console.log(msg);
      if(msg.trim()==''||msg==undefined){
        msg = msgDiv.children('input').attr('placeholder');
        // console.log(msg);
      }
    }
    var $input = $('<input>');
    $input.attr('type','text');
    $input.attr('placeholder',msg);
    var $idDiv = $(e).next();
    var href = $idDiv.attr('href');
    var arr = href.split('=');
    var id = arr[arr.length-1]; // 被点击修改信息所对应的_id值
    $input.attr('onblur','send("'+id+'",this)');
    // msgDiv.html('');
    msgDiv.html($input);
  }
  function send(id,temp){
    // alert(id);
    if(!temp.value.trim()){
      // alert('留言不能为空');
      return;
    }
    var data = {id:id,val:temp.value};
    $.ajax({
      url:'/modify',
      data:data,
      success:function(res){
        // console.log(res,$(temp));
        if(res=='success'){
          // alert('修改成功');
          $(temp).parent().html(temp.value);
        }else{
          alert('修改失败');
        }
      }
    })
  }
</script>
</html>